* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
}

.pass-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
    border-style: groove;
    border-color: #333;
    height: 5.625rem;
    width: 27.5rem;
}